.git
.github
# {$edge-llm-internal-release begin}
.gitlab
# {$edge-llm-internal-release end}
.pytest_cache
.ruff_cache
.mypy_cache
.cache
__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info
build
build_*
dist
docs/build
docs/source/_build
htmlcov
*.log
