build/
build*/
*_engine/
*.engine
*_onnx/
__pycache__/
.vscode
*.json
.nvcode/
.cache
data/
data.tar
*.csv
*.onnx
*.data
build.sh
compile.sh
*.log
examples/multimodal/buils.sh
*.bin
*.onnx_data
*.pth
examples/multimodal/tmp/hf_models/Qwen2-VL-7B-Instruct