############################################################
# CODEOWNERS for TensorRT Edge-LLM.
#
# This is the internal owner file that maps to NVIDIA SSO IDs.
#
############################################################

# == C++/CUDA runtime & kernel components ==
/cpp/builder/ @luxiaoz @amberl @zhijial
/cpp/common/ @zhijial @luxiaoz
/cpp/kernels/ @ruochengj @xiangg @samcheng @zhazhang
/cpp/multimodal/ @amberl @ruochengj @jiahaoz
/cpp/plugins/ @ruochengj @zhijial @samcheng @poweiw @willg
/cpp/profiling/ @luxiaoz @amberl @ruochengj @zhijial
/cpp/runtime/ @amberl @zhijial @xiangg
/cpp/sampler/ @luxiaoz @amberl @xiangg
/cpp/tokenizer/ @amberl @luxiaoz @zhijial

# == Build system ==
**/CMakeLists.txt @luxiaoz @mahu @zhijial
/cmake/ @mahu @luxiaoz @zhijial

# == Automation tests ==
/tests/ @luxiaoz @mahu @amberl @xinrzhang
/.gitlab/ @luxiaoz @mahu @amberl @xinrzhang

# == Examples ==
/examples/ @luxiaoz @amberl @zhijial @jiahaoz

# == Unit tests ==
/unittests/ @luxiaoz @amberl @zhijial @xiangg

# == Scripts ==
/scripts/ @luxiaoz @amberl @zhijial

# == Third-party dependencies ==
/3rdParty/ @amberl @luxiaoz @zhijial

# == Kernel source we bring from other projects ==
/kernelSrcs/ @ruochengj @xiangg @samcheng @zhazhang

# == Experimental ==
/experimental/ @luxiaoz @amberl @yuanyao

# == Python frontend ==
/tensorrt_edgellm/ @luxiaoz @ruochengj @amberl @yuanyao @zhijial

# == Documentation ==
/docs/ @luxiaoz @amberl @xinrzhang @mahu
/.github/ @luxiaoz @amberl @mahu @xinrzhang
/design/ @fans @luxiaoz @zhijial @amberl
