############################################################
# CODEOWNERS for TensorRT Edge-LLM.
#
# This is the internal owner file that maps to NVIDIA SSO IDs.
#
############################################################

# == C++/CUDA runtime & kernel components ==
/cpp/ @fans
/cpp/common/ @fkaster @fans
/cpp/kernels/ @fans @ruochengj
/cpp/multimodal/ @amberl @ruochengj
/cpp/plugins/ @fans @ruochengj
/cpp/profiling/ @luxiaoz @amberl @ruochengj
/cpp/runtime/ @fans @amberl @fkaster
/cpp/sampler/ @luxiaoz @fans @fkaster
/cpp/tokenizer/ @amberl @kchemudupati

# == Build system ==
**/CMakeLists.txt @fans @luxiaoz
/cmake/ @fans @mahu

# == Automation tests ==
/tests/ @luxiaoz @mahu @amberl
/.gitlab/ @luxiaoz @mahu @amberl

# == Kernel source we bring from other projects ==
/kernelSrcs/ @fans @ruochengj

# == Python frontend ==
/tensorrt_edgellm/ @luxiaoz @ruochengj @amberl
/tensorrt_edgellm/quantization/ @luxiaoz @ruochengj @amberl

# == Documentation ==
/docs/ @luxiaoz @ffriedmann @kchemudupati
/.github/ @luxiaoz @ffriedmann @kchemudupati
/design/ @fkaster
